{% extends 'base.html' %}



{% block content %}

    <section style="background-color: #eee;">
        <div class="container py-5">


            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            {% if object.avatar %}
                                <img src="{{ object.avatar.url }}" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                            {% else %}
                                <img src="/static/img/icons/user_profile.png" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                            {% endif %}

                            <h5 class="my-3">{{ object.full_name }}</h5>
                            <p class="text-primary mb-1">{{ object.username }}</p>

                            <div class="d-flex justify-content-center rounded-3 p-2"
                                 style="background-color: #efefef;">
                                <div>
                                    <p class="small text mb-1">Публикации</p>
                                    <p class="mb-0">{{ object.posts.count }}</p>
                                </div>
                                <div class="px-3">
                                    <p class="small text mb-1">Подписчики </p>
                                    <p class="mb-0"> {{ object.followers.count }}</p>
                                </div>
                                <div>
                                    <p class="small text mb-1">Подписки</p>
                                    <p class="mb-0">{{ object.following.count }}</p>
                                </div>
                            </div>
                            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                            <div class="d-flex justify-content-center mb-2">
                                {% if request.user in object.followers.all %}
                                    <a href="{% url 'unfollow' object.id %}" class="btn btn-danger"> Отписаться </a>
                                {% else %}
                                    <a href="{% url 'follow' object.id %}" class="btn btn-success"> Подписаться </a>
                                {% endif %}
                                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                            </div>
                        </div>
                    </div>

                </div>

                {% if not object.is_private or request.user in object.followers.all %}
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ object.email }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Мобильный телефон</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ object.mobile }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Дата рождения</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ object.birthday }}</p>
                                    </div>
                                </div>
                                <hr>

                            </div>
                        </div>
                        <!-- Блок для постов  -->
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-body ">
                                        <div class="row row-cols-3 g-3">
                                            {% for post in object.posts.all %}

                                                <a href="{% url 'post_detail' post.id %}" data-fslightbox="gallery">
                                                    <img src="{{ post.image.url }}" alt=""
                                                         class="rounded"
                                                         style="float:left; width:200px; height: 190px;  object-fit: cover;">

                                                </a>

                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                {% else %}
                    <div class="col-lg-8">
                        <div class="card ">
                            <div class="card-body">
                                <div class="text-center text-muted">
                                    <p>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="icon icon-tabler icon-tabler-lock" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <rect x="5" y="11" width="14" height="10" rx="2"></rect>
                                            <circle cx="12" cy="16" r="1"></circle>
                                            <path d="M8 11v-4a4 4 0 0 1 8 0v4"></path>
                                        </svg>
                                        Это закрытый аккаунт
                                    </p>
                                    <p>
                                        Подпишитесь на этот аккаунт, чтобы смотреть публикуемые здесь фото.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>



{% endblock %}